/* Avatar and Server Borders */

:root {
    --border-radius-user-icon: 50%;
    --border-radius-server-icon: 50%;
    
    --border-radius-user-icon-active: 50%;
    --border-radius-server-icon-active: 6px;
    
    /* To disable this, replace "--accent" with "--tertiary-background" */
    --border-active-color: var(--accent);
}




/* Custom properties and color variables */

:root {
    --border-radius-channel-icon: var(--border-radius-user-icon);
    
    --message-box-padding: 10px;
    --scrollbar-thickness: 6px;
    
    --primary-header-gradient: linear-gradient(to top, var(--background), var(--tertiary-background) 110%);
    --secondary-header-gradient: linear-gradient(to top, var(--secondary-background)10%, var(--secondary-header));
    --textbox-gradient: linear-gradient(to top, var(--message-box-accent), var(--secondary-background) 120%);
    --button-gradient: linear-gradient(transparent, #000A);
    --sidebar-gradient: linear-gradient(to top, var(--secondary-background)20%, var(--tertiary-background));
    --chat-gradient: linear-gradient(to top, var(--background), var(--message-box-accent));
    --shadow-color: #0009; 
    --message-box-accent: rgba(var(--message-box-rgb), 0.17);
    
    --common-border: 1px solid var(--tertiary-background);
    --common-shadow: inset 0 0 2px 2px var(--shadow-color);
    --light-shadow: inset 0 0 3px 0 var(--shadow-color);
    --thin-shadow: inset 0 0 0 1px var(--shadow-color);
}

::-webkit-scrollbar-thumb { /* Heavily modifies the scrollbar */
    min-height: 100px;
    color: var(--background);
    border-radius: 3px;
    outline: var(--common-border);
}

::-webkit-scrollbar-thumb:vertical {
    background: linear-gradient(to top, var(--background) -60%, var(--scrollbar-thumb), var(--background) 160%);
}

::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(to left, var(--background) -60%, var(--scrollbar-thumb), var(--background) 160%);
}

[data-scroll-offset]::-webkit-scrollbar-thumb {outline: var(--common-border)}
::-webkit-scrollbar-track {box-shadow: var(--light-shadow)}
::-webkit-scrollbar-track:vertical {outline: 1px solid rgba(var(--tertiary-background-rgb),0.7)}
::-webkit-scrollbar-track:horizontal {outline: 1px solid rgba(var(--tertiary-background-rgb),0.7)}

::-webkit-scrollbar-corner {
    background: linear-gradient(to bottom right, var(--scrollbar-thumb), var(--background));
    outline: var(--common-border);
}




/* Themes the main content area */

.Header-sc-ujh2d9-0 { /* Primary header, seen above the main chat window */
    border-bottom: var(--common-border);
    border-right: var(--common-border);
    box-shadow: var(--light-shadow), 5px 2px 5px 5px rgba(0,0,0,0.4);
	background: var(--primary-header-gradient);
    border-radius: 0;
    text-shadow: 1px 2px 2px black;
}

/* Message viewport */
.Channel__ChannelContent-sc-k5myot-1 {background-image: var(--chat-gradient)}

/* Member list */
.SidebarBase-sc-1dma6vq-0 .SidebarBase__GenericSidebarBase-sc-1dma6vq-1 {
    background-image: var(--textbox-gradient); overflow: auto;
}

.Channel__ChannelMain-sc-k5myot-0.DmIgS .SidebarBase-sc-1dma6vq-0{
    border-right: var(--common-border); border-left: var(--common-border);
}

.MemberList__ListCategory-sc-1bwlier-0.fWMCga {
    height: 39px; padding-top: 16px;
}

/* text-shadow exemption for gradient names */
.UserShort__Name-sc-1sbe9n1-1 {text-shadow: none; filter: drop-shadow(1px 2px 1px black)}




/* Themes the sidebar */

.HomeSidebar__Navbar-sc-1n8qxkj-0 { /* Secondary header, seen above DMs and in server channel lists */
    border-bottom: var(--common-border);
    box-shadow: inset 0 0 0 1px rgba(6, 6, 6, 0.5), 0 0 5px 5px rgba(0,0,0,0.4);
	background: var(--secondary-header-gradient);
    border-right: 3px double var(--tertiary-background);
    text-shadow: 1px 2px 2px black;
}

/* Sidebar */
.SidebarBase-sc-1dma6vq-0 {background: transparent}

.Base-sc-yb16g4-0, .Shadow-sc-yb16g4-1 + .ItemContainer-sc-176t3v5-0  { /* Server list + Settings Button */
    border-right: 3px double var(--tertiary-background);
}

.Base-sc-yb16g4-0 .list {
    overflow-x: hidden;
}

.SidebarBase__GenericSidebarList-sc-1dma6vq-2 { /* General sidebar format */
    border-radius: 0;
    background: var(--textbox-gradient);
    border-right: 3px double var(--tertiary-background);
    overflow: auto;
}

.ServerSidebar__ServerBase-sc-1lca5oe-0, .Sidebar__Base-sc-1uh6eub-0 { /* Channel/DM list */
    background: var(--sidebar-gradient);
    border-right: 3px double var(--tertiary-background);
    border-radius: 0;
}

.ServerSidebar__ServerList-sc-1lca5oe-1 {
    box-shadow: var(--common-shadow);
    border-top: 3px double var(--tertiary-background);
    overflow: auto;
}

.ServerHeader__ServerBanner-sc-15ursl9-0 {
    box-shadow: var(--common-shadow);
}

.Shadow-sc-yb16g4-1 + .ItemContainer-sc-176t3v5-0 { /* Makes the message bar and settings button the same height */
    height: 55.88px;
    padding-bottom: 5.6px ;
    padding-top: 5.6px;
}




/* Settings */

._settings_t7t23_33 ._sidebar_t7t23_39 { /* Settings, left side */
    background: linear-gradient(to top left, transparent 15%, var(--message-box-accent));
    background-color: var(--secondary-background);
    border: var(--common-border);
}

._content_t7t23_40 { /* Settings, right side */
    background: linear-gradient(to bottom right, transparent 15%, var(--message-box-accent));
    background-color: var(--secondary-background);
    border-top: var(--common-border);
    border-right: var(--common-border);
    border-bottom: var(--common-border);
}

._user_fwdgs_1 ._preview_fwdgs_107 {
    background: transparent;
    width: 90%
}

._settings_t7t23_33 ._action_t7t23_224 ._closeButton_t7t23_240 {
    background: var(--secondary-header)
}




/* Themes the message bar and text boxes */

.MessageBox__Base-sc-jul4fa-0, .Shadow-sc-yb16g4-1 + .ItemContainer-sc-176t3v5-0, .FilePreview__Container-sc-znkm6h-0 { /*Themes the message bar, settings button, and file picker bar */
    border-top: var(--common-border);
    background-image: var(--button-gradient);
    background-color: var(--secondary-header);
    box-shadow: inset 0 1px 0 0 var(--shadow-color);
}

.MessageBox__FileAction-sc-jul4fa-3, .MessageBox__Action-sc-jul4fa-2 {
    margin: 3.7px 0 0 0;
}

.TextAreaAutoSize__Container-sc-1ebfmuf-0, .ckpHTH {
    border: var(--common-border);
    background: var(--textbox-gradient);
    border-radius: var(--border-radius);
    box-shadow: var(--common-shadow);
    padding: 0 10px 0 10px;
    margin: 6px 0 7px 0;
}

.InputBox-sc-13s1218-0 { /* Search bar */
    border: var(--common-border);
    background: var(--textbox-gradient);
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 3px 2px var(--shadow-color);
}

.InputBox-sc-13s1218-0:hover {
    background: var(--textbox-gradient);
}

.TextArea-sc-1kh63xd-0 {
    background: transparent;
    padding: 10px 0 10px 0;
}

.Column-sc-mmjmg6-0.Base-sc-1c6g74-0 {
    border: var(--common-border);
    margin: 0 10px 0 0;
}

.MessageEditor__EditorBase-sc-133d9pc-0 .TextAreaAutoSize__Container-sc-1ebfmuf-0, ._settings_t7t23_33 .TextAreaAutoSize__Container-sc-1ebfmuf-0 { /* Other textbox containers */
    padding: 0;
}

.MessageEditor__EditorBase-sc-133d9pc-0 .TextArea-sc-1kh63xd-0, ._settings_t7t23_33 .TextArea-sc-1kh63xd-0 { /* Message editor */
    background: transparent;
    padding: 8px;
}

.ReplyBar__Base-sc-d2l7w7-0, .TypingIndicator__Base-sc-1jama4m-0 { /* Reply bar */
    background: var(--secondary-header-gradient);
    border-top: var(--common-border);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 0;
}

.jtuvHh .actions {
    margin-right: 8px;
}

.TypingIndicator__Base-sc-1jama4m-0 > div, .ggHcXn > div, .hitXXs > div { /* Typing, old messages indicators */
    background-image: var(--button-gradient);
    background-color: var(--primary-background);
    border-top: var(--common-border);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    width: 100%;
}

.gILwrq > div, .NPPEn > div { /* New message indicator */
    background-image: var(--button-gradient);
    border-bottom: var(--common-border);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.ReplyBar__Base-sc-d2l7w7-0 .MessageReply__ReplyBase-sc-utzx7-0 { /* Reply bar actions */
    height: 100%;
    margin: 0 8px;
}

.MessageReply__ReplyBase-sc-utzx7-0 .content { /* Replied message and original sender */
    align-self: center;
    height: 100%;
    padding: 0;
}

.MessageReply__ReplyBase-sc-utzx7-0 .message { /* Replied message preview */
    border: var(--common-border);
    border-right: var(--common-border);
    border-radius: 3px;
    background: rgba(var(--foreground-rgb), 0.075);
    font-size: 0.8em;
    padding: 3px;
}

.cZEhIO, .fhGxEk, .jRMJXP, .sc-dIUeWJ.kizbFb { /* Mentions */
    border: 1px solid var(--mention);
    border-radius: var(--border-radius);
    background: linear-gradient(var(--mention), transparent 130%);
}

.cZEhIO:hover, .fhGxEk:hover, .jRMJXP:hover, .sc-dIUeWJ.kizbFb:hover { /* Mentions (hovered) */
    border: 1px solid var(--mention);
    border-radius: var(--border-radius);
    background: linear-gradient(var(--mention) -100%, transparent 130%);
}




/* Themes the call menu */

.VoiceHeader__VoiceBase-sc-mvbohh-0 {
    background: var(--secondary-header-gradient);
    border-bottom: var(--common-border);
    border-bottom-left-radius: var(--border-radius);
}




/* Buttons */

.Base-sc-j9ukbi-0, .TipBase-sc-upm053-0, .VoiceHeader__VoiceBase-sc-mvbohh-0 .status, .ComboBox-sc-f94r78-0, .jfwTbF, .bCPWex ._entry_fwdgs_300, ._title_dxa3n_54, .jMjzeh, .jbwUqj, ._friend_sd6wo_33, .EmbedInvite__EmbedInviteBase-sc-154n8c6-0, ._user_fwdgs_1 .Button-sc-wdolxy-0, .Button-sc-wdolxy-0.bQkbYV, .Button-sc-wdolxy-0, .preact-context-menu .context-menu, ._entry_kup3j_140, .TipBase-sc-upm053-0, ._languages_fwdgs_383 ._list_fwdgs_383 ._entry_fwdgs_300, .Button-sc-wdolxy-0 { /* Generic buttons or button-colored objects */
    background-image: var(--button-gradient) !important;
    border: var(--common-border);
    border-radius: 15px;
    padding: 8px;
    box-shadow: var(--thin-shadow);
    text-shadow: 1px 1px 2px black;
}

.Base-sc-j9ukbi-0:hover {
    background-color: var(--background);
}

.EmbedInvite__EmbedInviteBase-sc-154n8c6-0 {
    background-color: var(--primary-header);
}

.sc-jSgvzq { /* Reactions */
    background-image: var(--button-gradient);
    background-color: var(--secondary-header);
    box-shadow: var(--thin-shadow);
}

.sc-jSgvzq.cTcKPP { /* Reacted */
    border: var(--common-border)
}

._item_1avxi_1, ._item_1avxi_1:hover, ._item_1avxi_1[data-active="true"] {
    border-radius: var(--border-radius);
    background-image: linear-gradient(var(--foreground) -100%, transparent 50%);
    background-size: 1px 208%;
    transition: 250ms;
}

._item_1avxi_1 {
    background-position: 50% 99%;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    text-shadow: 1px 1px 2px black;
}

._item_1avxi_1:hover {
    background-position: 50% 40%;
    border-left: var(--common-border);
    border-right: var(--common-border);
}

._item_1avxi_1[data-active="true"] {
    background-position: top;
    border-left: var(--common-border);
    border-right: var(--common-border);
    box-shadow: var(--light-shadow);

}

.BottomNavigation__Base-sc-15obpw5-0 { /* Mobile navbar */
    border-top: 3px double var(--tertiary-background);
}

.BottomNavigation__Button-sc-15obpw5-2 { /* Mobile navbar buttons */
    border-radius: 4px;
    box-shadow: var(--light-shadow);
    background: var(--button-gradient);
}

.BottomNavigation__Button-sc-15obpw5-2.brHoXv { /* Mobile navbar selected button */
    border-left: var(--common-border);
    border-right: var(--common-border);
    background-color: #666;
}

.BottomNavigation__Button-sc-15obpw5-2.bkKKgS { /* Mobile navbar unselected button */
    border-left: 1px solid #1117;
    border-right: 1px solid #1117;
    background-color: var(--primary-header);
}

.BottomNavigation__Button-sc-15obpw5-2:hover:active { /* Mobile navbar pressed */
    background-color: #222;
}




/* Emoji Picker */

.Column-sc-mmjmg6-0.Controls-sc-1c6g74-1 {
    border-bottom: var(--common-border);
    box-shadow: inset 0 0 2px 1px var(--shadow-color);
    background: var(--primary-header-gradient)
}

.Base-sc-1m0owfd-0 {
    border-top: var(--common-border);
    box-shadow: inset 0 0 2px 1px var(--shadow-color);
    background: var(--textbox-gradient);
}

.Groups-sc-1c6g74-3 {
    background: var(--secondary-header-gradient);
    border-radius: 0;
    border-left: var(--common-border);
    overflow-x: hidden;
}

.CategoryBar-sc-1c6g74-6, .MemberList__ListCategory-sc-1bwlier-0 {
    border-top: var(--common-border);
    border-bottom: var(--common-border);
    background: var(--button-gradient);
}




/* User profiles */

._header_kup3j_8, .Settings__AccountHeader-sc-1gunfj7-0 .account { /* User banners */
    border-left: 1px solid var(--foreground);
    border-top: 1px solid var(--foreground);
    border-right: 1px solid var(--foreground);
    border-bottom: var(--common-border);
    box-shadow: inset 0 0 15px 2px var(--shadow-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

._content_kup3j_90 { /* User content */
    border-left: 1px solid var(--foreground);
    border-bottom: 1px solid var(--foreground);
    border-right: 1px solid var(--foreground);
    box-shadow: inset 0 0 15px 2px var(--shadow-color);
}

.Settings__AccountHeader-sc-1gunfj7-0 .statusChanger {
    border-left: 1px solid var(--foreground);
    border-right: 1px solid var(--foreground);
    border-bottom: 1px solid var(--foreground);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background: var(--textbox-gradient);
}

._entry_kup3j_140 { /* Mutual things */
    background-color: var(--primary-header);
}


/* Menus */

.Container-sc-1d91xkm-1, .create_group { /* Menu containers */
    border: var(--common-border);
    background: var(--background);
    background-image: var(--chat-gradient);
}

.Container-sc-1d91xkm-1.bKfOaB { /* Image container container*/
    background: none;
    border: none;
}

.sc-jrAFXE.eiGSNL { /* Image container */
    border-radius: var(--border-radius);
    border: var(--common-border);
}

.Title-sc-1d91xkm-2 { /* Menu header */
    border-bottom: var(--common-border);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    box-shadow: var(--thin-shadow);
    background: var(--primary-header-gradient);
}

.Content-sc-1d91xkm-3 { /* Contained content */
    padding: 1rem;
    background: var(--background);
}

.Actions-sc-1d91xkm-4 { /* Container actions */
    background: var(--secondary-header-gradient);
    border-top: var(--common-border);
}

.Container-sc-1d91xkm-1[type="user_profile"], .jKeKvP summary, .Content-sc-1d91xkm-3 { /* Container borders */
    background: transparent;
    border: unset;
}

.Content-sc-1d91xkm-3[type="user_picker"] { /* User picker */
    padding: 0;
    background: var(--background);
}

.sc-kstqJO.iDLnDV { /* User picker content */
    padding: 6px
}

.bCPWex { /* User picker users */
    padding: 4px 10px 4px 10px;
}

.sc-hBEYId .Base-sc-1c2l8gq-0 {
    background: transparent;
}

.preact-context-menu .context-menu > span:not([data-disabled=true]) { /* Context menu buttons */
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.preact-context-menu .context-menu > span:not([data-disabled=true]):hover { /* Context menu buttons, hovered */
    background: #0003;
    border-left: var(--common-border);
    border-right: var(--common-border);
}

.preact-context-menu .context-menu > span > span:hover { /* Fixes a highlighting issue */
    background: none;
}




/* Embeds */

.eiGSNL img { /* Fullscreen image embed */
    border-bottom: var(--common-border);
    background: var(--secondary-header-gradient)
}

._attachment_197qa_1._text_197qa_33, ._container_197qa_64 { /* Embedded text and video */
    padding: 0;
    border: var(--common-border);
    box-shadow: 0px 0px 4px 1px black;
}

._attachment_197qa_1._text_197qa_33 ._textContent_197qa_39 { /* Embedded text */
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    box-shadow: var(--common-shadow)
}

._attachment_197qa_1._audio_197qa_13 { /* Embedded audio */
    background-image: var(--button-gradient);
    background-color: var(--primary-header);
    border: var(--common-border);
    border-radius: 15px;
    padding: 8px;
    box-shadow: var(--thin-shadow), 0px 0px 4px 1px black;
}

._embed_dxa3n_1._website_dxa3n_12 { /* Embedded website */
    border-top: var(--common-border);
    border-bottom: var(--common-border);
    border-right: var(--common-border);
    box-shadow: var(--thin-shadow), 0px 0px 4px 1px black;
}

._embed_dxa3n_1._website_dxa3n_12 iframe {
    border: var(--common-border);
    box-shadow: 0px 0px 4px 1px black;
}
.sc-bkzYnD { /* Formatted Code */
    box-shadow: var(--common-shadow), 0px 0px 4px 1px black;
    border: var(--common-border);
    overflow: auto;
}

.sc-bkzYnD code { /* Removes block background from code within formatted code */
    background: unset;
}

._actions_iu4oa_1, ._embed_dxa3n_1._website_dxa3n_12 { /* Generic embed actions */
    background-image: var(--button-gradient);
    background-color: var(--primary-header);
    text-shadow: 1px 1px 2px black;
}

._attachment_197qa_1._text_197qa_33 ._actions_iu4oa_1, ._actions_iu4oa_1._imageAction_iu4oa_1 { /* Embedded text actions (bottom) */
    border-top: var(--common-border);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: var(--thin-shadow);
}

._container_197qa_64 ._actions_iu4oa_1 { /* Embedded video actions (top) */
    border-bottom: var(--common-border);
    box-shadow: var(--thin-shadow);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

._attachment_197qa_1._audio_197qa_13 ._actions_iu4oa_1 { /* Embedded audio actions */
    border: none;
    background: transparent;
}

._attachment_197qa_1._file_197qa_25 ._actions_iu4oa_1 {
    border: var(--common-border);
    box-shadow: var(--thin-shadow);
}



/* Icons and indicators */

.UserIcon__VoiceIndicator-sc-y109su-0 {
    background-image: var(--button-gradient);
    box-shadow: inset 0 0 0 0.6px #000C;
}




/* Makes the server icons turn square when hovered over, and provides a colored border to the active server */

.Image-sc-3bwws8-0, .FallbackBase-sc-3bwws8-1 {
    transition: 100ms;
}

a:has(.SwooshWrapper-sc-176t3v5-1) .Image-sc-3bwws8-0,
.ItemContainer-sc-176t3v5-0:has(.SwooshWrapper-sc-176t3v5-1) .Image-sc-3bwws8-0, .SidebarBase__GenericSidebarList-sc-1dma6vq-2 ._item_1avxi_1[data-active="true"] img {
    /* Currently selected server or friend */
    border-color: var(--border-active-color);
}

.Image-sc-3bwws8-0:hover, .FallbackBase-sc-3bwws8-1:hover {
    border-radius: var(--border-radius-server-icon-active);
    transition: 100ms;
    transition-delay: 70ms;
}

._item_1avxi_1:hover img, ._item_1avxi_1[data-active="true"] img, .IconBase-sc-igncj4-0.bTjVNf.avatar img:hover {
    border-radius: var(--border-radius-user-icon-active);
    transition: 100ms;
    transition-delay: 70ms;
}

a:has(.SwooshWrapper-sc-176t3v5-1) .Image-sc-3bwws8-0, .ItemContainer-sc-176t3v5-0:has(.SwooshWrapper-sc-176t3v5-1) .Image-sc-3bwws8-0 {
    border-radius: var(--border-radius-server-icon-active);
    transition: 100ms;
    transition-delay: 70ms;
}

.sc-iBPTik, .sc-iBPTik:hover  {
    border: var(--common-border);
    background: linear-gradient(to bottom, var(--background) 10%, var(--secondary-header));
    box-shadow: var(--thin-shadow);
    box-shadow: 0 0 5px 0 var(--shadow-color);
}

.sc-fubCzh:hover, .preact-context-menu .context-menu span:hover {
    background: #0004;
}




/* Other miscellaneous changes */

.FallbackBase-sc-3bwws8-1, ._friend_sd6wo_33 .IconButton-sc-166lqkp-0, .EmbedInvite__EmbedInviteBase-sc-154n8c6-0 .IconBase__ImageIconBase-sc-igncj4-1, ._settings_t7t23_33 ._action_t7t23_224 ._closeButton_t7t23_240, ._image_1m2vo_5, ._content_kup3j_90 img:not(.emoji) { /* Puts borders around icons */
    border: 1px solid var(--tertiary-foreground);
    padding: 1px;
    border-radius: 50%;
    box-shadow: var(--thin-shadow);
    background-image: var(--button-gradient);
    background-color: var(--secondary-header)
}

.SidebarBase__GenericSidebarList-sc-1dma6vq-2 ._item_1avxi_1 img, ._profile_kup3j_21 img, .bTjVNf img, .Image-sc-3bwws8-0 {
    border: 1px solid var(--tertiary-foreground);
    padding: 1px;
    box-shadow: var(--thin-shadow);
    background-image: var(--button-gradient);
    background-color: var(--secondary-header);
    transition: 100ms;
}

/* Makes the server icon use the existing border radius variable, since it apparently doesn't by default */
.kPeClm {border-radius: var(--border-radius-server-icon)}

.SwooshWrapper-sc-176t3v5-1 { /* Themes the server indicator (idk how to mess with the svg so)*/
    height: 54px;
    width: 56px;
    border-top: var(--common-border);
    border-bottom: var(--common-border);
    border-left: var(--common-border);
    background-image: var(--button-gradient);
    background-color: var(--primary-header);
    box-shadow: var(--thin-shadow);
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    margin: 26px 0 0 0;
    transition: position 150ms;
    filter: drop-shadow(2px 2px 2px #000B);
}

.SwooshWrapper-sc-176t3v5-1 svg { /* Hides the existing SVG */
    display: none;
}

.FilePreview__EmptyEntry-sc-znkm6h-5.icon, .FilePreview__PreviewBox-sc-znkm6h-6 .icon { /* Exempts the file picker icons from the previous entry */
    border-radius: var(--border-radius);
}

.FilePreview__PreviewBox-sc-znkm6h-6 {
    background: transparent;
}

.FilePreview__EmptyEntry-sc-znkm6h-5 {
    border: var(--common-border);
    border-radius: 50%;
    box-shadow: var(--thin-shadow);
    background: var(--button-gradient);
}

.RevoltApp__Routes-sc-1613ew5-2 {background: transparent} /* Makes the home screen transparent */

.LineDivider-sc-135498f-0 { /* Horizontal Line Dividers */
	background: linear-gradient(to left, transparent, rgba(var(--foreground-rgb), 0.7), transparent);
}

.sc-pGacB { /*  Vertical Line Dividers */
    background: linear-gradient(transparent, rgba(var(--foreground-rgb), 0.7), transparent);
}

.Base-sc-1kllx7r-0 {padding: 10px} /* lowers date to prevent collision with border line */

.iIKZoW time { /* Removes the background used to hide the border line */
    background: unset;
}

.StyledIconBase-ea9ulj-0 path, .StyledIconBase-ea9ulj-0 circle { /* Add and Discover buttons */
    fill: var(--foreground);
}

._friend_sd6wo_33 {
    margin: 3px;
}

.FilePreview__Carousel-sc-znkm6h-1 {
    overflow-x: hidden;
}

.Base-sc-hcp9jm-0 {
    cursor: pointer;
}

._sessions_fwdgs_285 ._entry_fwdgs_300, ._sessions_fwdgs_285 ._entry_fwdgs_300[data-active=true] { /* Sessions list */
    background-image: linear-gradient(transparent, #0008);
    border: var(--common-border);
    box-shadow: var(--thin-shadow);
}

.checkmark { /* Checkmarks */
    border: 2px solid var(--foreground);
    box-shadow: inset 0 0 0 2px var(--shadow-color);
    background: var(--background);
}

.tippy-box { /* Server hover tooltip */
    background-image: var(--button-gradient);
    background-color: var(--primary-header);
    opacity: .95;
    border: var(--common-border);
    box-shadow: var(--thin-shadow), 0px 0px 4px 1px black;
    left: -6px;
}

.tippy-arrow {
    display: none;
}

.checkmark.gfBZnu { /* Checkmarks (checked) */
    background-image: linear-gradient(transparent -20%, var(--accent));
}

._item_1avxi_1 div {
    transition: 100ms;
}

svg, ._content_kup3j_90 a img { /* sexy drop shadows */
    filter: drop-shadow(2px 2px 2px #000B);
    transition: 100ms;
}

svg foreignObject svg, :active > svg foreignObject svg { /* except they're bugged on safari so none for u */
    filter: none;
    transform: none;
}

._avatar_1avxi_56 {
    filter: drop-shadow(2px 2px 2px #000B);
    transition: 100ms;
}

:active > svg, :active > ._avatar_1avxi_56, ._item_1avxi_1:active, ._content_kup3j_90 a:active img{
    transform: translateY(2px);
    filter: brightness(0.85) drop-shadow(2px 2px 2px #000B);
}

._item_1avxi_1 ._avatar_1avxi_56, ._item_1avxi_1 svg {
    transform: none;
}

._session_fwdgs_285 svg, .sc-dIUeWJ.kizbFb svg{
    filter: none;
    transform: none;
}

.Titlebar__TitlebarBase-sc-1ykozpe-0.hwmymO { /* Titlebar */
    border-bottom: var(--common-border);
    background: var(--secondary-header-gradient);
}

.hwmymO .actions { /* Titlebar actions container */
    margin-right: 7px
}

.hwmymO .actions div { /* Titlebar actions */
    border: var(--common-border);
    border-radius: 3px;
    background-image: var(--button-gradient);
    background-color: var(--primary-header);
    margin: 10px 3px 10px 0;
    height: calc(var(--titlebar-height) - 8px);
}

.hwmymO .actions div:hover, .hwmymO .actions div.error:hover {
    background-image: var(--button-gradient);
}

.RevoltApp__AppContainer-sc-1613ew5-0 { /* Puts a border around the app; it just looks nice in the desktop app tbh :3 */
    background: var(--textbox-gradient);
    border: var(--common-border);
}
